/* Styles for the dropdown menu */

@keyframes dropDown {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

.dropbtn:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
}

.indexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  flex-direction: column;
  overflow: hidden;
}

/* Dropdown Button */
.dropbtn {
  background-color: var(--searchbar);
  border-radius: 15px;
  color: var(--searchText);
  padding: 16px 32px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 999;
}

/* Dropdown Content */
.dropdown-content {
  display: none;
  max-height: 40vh;
  margin-top: 10px;
  background-color: var(--searchbar);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow-y: scroll;
}

/* Dropdown links */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
  animation: dropDown 300ms ease-in-out forwards;
}
